body {
    background-color: black;
    text-align: center;
    font-family: fantasy, Geneva, Tahoma, sans-serif;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #fff;
}

.header--secondary {
    color: white ;
    font-weight: 300;
    font-size: 42px;
}

.subheader--sub-header {
    font-size: 21px;
    color: gray;
}

.link--cta {
    font-size: 16px;
    color: aquamarine;
}

.link--copyright {
    color: gray;
    font-size: 21px;
    text-align: right;
}